@page "/fetchrecipes"
@page "/recipes"
@using BlazorAppWASM.Shared.BusinessDomain
@using BlazorAppWASM.Shared.Constants
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Bread recipes</h1>

<p>These are the bread recipes.</p>

@if (allRecipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in allRecipes)
            {
                <tr>
                    <td>@recipe.Name</td>                    
                    <td>@recipe.CreatedAt.ToShortDateString()</td>
                    <td><button class="btn btn-link" @onclick="() => Navigate(recipe.ObjectId)">Open</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private Recipe[] allRecipes;

	protected override async Task OnInitializedAsync()
	{
		allRecipes = await Http.GetFromJsonAsync<Recipe[]>("Recipes");
	}

	protected void Navigate(int Id)
	{
		NavigationManager.NavigateTo($"/recipe/{Id}");
	}

}
