@page "/login"

@inject NavigationManager _navigationManager

@using ViewModels

<h3>Login</h3>

<div class="col-6">
	<div>
		<label for="Username" class="col-form-label">Username</label>
		<input type="text" @bind="_loginModel.Username" class="form-control" placeholder="Username..." />
	</div>
	<div>
		<label for="Password" class="col-form-label">Passwoord</label>
		<input type="password" @bind="_loginModel.Password" class="form-control" placeholder="password..." />
	</div>
	<div>
		<button class="btn btn-primary" @onclick="HandleLogin">Login</button>
	</div>
</div>

@code {
	private LoginUserModel _loginModel = new LoginUserModel();

	public async Task HandleLogin()
	{
		var result = await LoginService.Login(_loginModel);
		if (result)
			_navigationManager.NavigateTo("/index", true);
	}
}
